td{
  font-family: 'Lilita One', cursive; /*fonte do google*/
  font-size: 60px;
  background: black;
  color: red;
  width: 90px;
  height: 90px;
  text-align: center;
}
h3{
   font-size: 35px;
   display: inline;
}
#vencedor{
  float:right;
  padding-right:50px;
  text-align:right;
  color:#FFF;
  background-color:rgb(196, 0, 0);
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:36px;
  font-family: 'Lilita One', cursive;
  border-radius: 20px 0px; /*novo no css3, bordas aredondadas*/
}
#limparcampos{
  float:left;
  padding-right:50px;
  text-align:left;
  font-family: 'Lilita One', cursive;
  color:#FFF;
  background-color:rgb(196, 0, 0);
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:36px;
  border-radius: 0px 20px; /*novo no css3, bordas aredondadas*/
}

#rodape{
  position: absolute;
  bottom: 0;
}