<% include ../header %>
<section id="home" class="valign-wrapper section">
<div id="subscribe" class="container left-text row">
        <div class="col m1 s1 3"><p></p></div>
        <div class="col s11 9">
            <h1>Adoramos críticas.</h1>
            <p>Olá. Ficamos honrados com sua presença e gostariamos muito de um feedback seu.</p>
            <p>Abaixo você encontra um link com algumas perguntas que são extremamente importantes para nós.</p>
            <p>Obrigado.</p>

            <a href="http://goo.gl/forms/KDCwWtyJiR" title="Avaliar" class="btn pink">Avaliar</a>
        </div>
    </div>
</section>

<% include ../footer %>
