<% include ../header %>

<div class="container">
	<h2>Quase lá meu amigo.</h2>
	<p>Ajude-nos com mais esta informação, por favor.</p>
	<form action="" method="POST">
		<label>Empresa</label>
		<input type="text" name="company" required>
		<button type="button btn-primary" class="btn btn-flat">Enviar</button>
	</form>

</div>

<% include ../footer %>
