<!doctype html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>iTerior Conference 2015</title>
	<meta name="description" content="iTerior é a primeira conferência de tecnologia de Franca &amp; Região. Aqui vamos juntar pessoas dipostas a compartilhar conhecimento e experiência. Junte-se à nós.">

	<!-- facebook -->
	<meta property="og:site_name" content="iTerior Conferece 2015"/>
	<meta property="og:title" content="iTerior Conferece 2015" />
	<meta property="og:url" content="http://iterior.com.br" />
	<meta property="og:description" content="iTerior é a primeira conferência de tecnologia de Franca &amp; Região. Aqui vamos juntar pessoas dipostas a compartilhar conhecimento e experiência. Junte-se à nós." />
	<meta property="og:image" content="http://iterior.com.br/assets/img/iterior-logo-social.png">
	<!-- twitter -->
	<meta property="twitter:site_name" content="iTerior Conferece 2015"/>
	<meta property="twitter:title" content="iTerior Conferece 2015" />
	<meta property="twitter:url" content="http://iterior.com.br" />
	<meta property="twitter:description" content="iTerior é a primeira conferência de tecnologia de Franca &amp; Região. Aqui vamos juntar pessoas dipostas a compartilhar conhecimento e experiência. Junte-se à nós." />
	<meta property="twitter:image" content="http://iterior.com.br/assets/img/iterior-logo-social.png">

	<link rel="icon" href="/favicon.png">
	<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>

<body ng-controller="AppCtrl as vm">
